 @media (min-width:200px) and (max-width:900px) { 
  .main-div{
    background-color:black;
  }
  .inner-div{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
  }
  #showScore{
    height:20vh;
    width:70vw;
  }
  html{
    font-size: 8px;
    font-weight:70px;
  }
  
}
 